<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %} </title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">ScrapeDump</a>
                    {% block top_bar %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        <script src="/static/js/jquery.js"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
