{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block container %}
        <ul class="nav nav-pills">
            <li class="active">
                <a href="/project/">Create Project</a>
            </li>
        </ul>
        <table class="table table-condensed">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        {% for project in projects %}
            <tr>
            <td><a href="{{project.get_url()}}">{{ project.project.name }}</a></td>
            <td>{{project.project.description}}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
