{% extends "base.html" %}
{% block title %}Project {% endblock %}
{% block extra_header %}

{% endblock %}
{% block container %}
<ul class="nav nav-tabs" id="project_tabs">
    <li {% if not edit %}class="active"{% endif %}><a href="#detail" data-toggle="tabs">Detail</a></li>
    <li><a href="#usage" data-toggle="tabs">Usage</a></li>
    <li {% if edit %} class="active" {% endif %}><a href="#edit" data-toggle="tabs">Edit</a></li>
</ul>
<div id="project_tabs_content" class="tab-content">
    <div id="detail" class="tab-pane fade{% if not edit %} in active{% endif %}">
        <div class="page-header"><h3>{{ project.project.name}}</h3></div>
        <section>
        <div class="well">
            {{ project.project.description }}
        </div>
        </section>
        <section>
        <h4>Data Statistics</h4>
        <table class="table table-condenced">
            <tr>
                <th>Entry</th>
                <th>Counts</th>
                <th>Data Dump</th>
            <tr>
            {% for stats in project.get_stats() %}
            <tr>
                <td>{{ stats.0 }}</td>
                <td>{{ stats.1 }}</td>
                <td><a href="/api/db/{{project.project.name_to_mongo()}}/{{stats.0}}/">Raw Dump</a></td>
            </tr>
            {% endfor %}
        </table>
        </section>
    </div>
    <div id="usage" class="tab-pane fade">
        <div class="page-header"><h3>API Usage</h3></div>
        <section>
            <h5>Get</h5>
            <p>
                <p>List All Data</p>
                <div class="well">
                    {% for api in project.get_api() %}
                        GET {{api}}
                    {% endfor %}
                </div>
            </p>
            <p>
                <p>Get Single Item</p>
                <div class="well">
                    {% for api in project.get_api() %}
                        GET {{api}}&lt;id&gt;/
                    {% endfor %}
                </div>
            </p>
        </section> 
        <section>
            <h5>Create</h5>
            <p>
                <p> To create, POST a json data </p>
                <div class="well">
                    {% for api in project.get_api() %}
                        POST {{api}}
                    {% endfor %}
                </div>
            </p>
        </section>
        <section>
            <h5>Update</h5>
            <p> 
                <p>To update, PUT a json data to an id</p>        
                <div class="well">
                    {% for api in project.get_api() %}
                        PUT {{api}}&lt;id&gt;/
                    {% endfor %}
                </div>
            </p>
        </section>
        <section>
            <h5>Delete</h5>
            <p>To delete, DELETE on a endpoint</p>
            <p>
                <div class="well">
                    {% for api in project.get_api() %}
                    DELETE {{api}}&lt;id&gt;/
                    {% endfor %}
                </div>
            </p>
        </section>
         
    </div>
    <div id="edit" class="tab-pane fade{% if edit %} in active{% endif %}">
        <form class="form-horizontal" method="POST" action="">
            <div class="control-group">
                <label class="control-label" for="{{ form.description.id }}">Description :</label>
                <div class="controls">
                    <textarea name="{{ form.description.name }}" id="{{ form.description.id}}">
                        {{ project.project.description }}
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="{{ form.entry.id}}">{{form.entry.label.text}}:</label>
                <div class="controls">
                    <input type="text" name="{{ form.entry.name }}" id="{{ form.entry.id }}" class="input-xlarge">
                </div>  
            </div>
           
            {% for e in project.project.entries %}
            <div class="control-group">
                <div class="controls">
                    <span class="input-xlarge uneditable-input">{{e}}</span>
                </div>
            </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}
{% block extra_js %}
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script>
    $(function(){
        $('#project_tabs a').click(function(e){
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
{% endblock %}
