{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block container %}
            <div class="row">
                <div id='user_settings' class="span4 offset4">
                    <form method="POST" action="" class="well">
                        {{ form.hidden_tag() }}
                        {{ form.username.label }} {{ form.username }}
                        {{ form.email.label }} {{ form.email }}
                        {{ form.password.label }} {{ form.password }}
                        {{ form.confirm.label }} {{ form.confirm }}
                        <br/>
                        <button class="btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
{% endblock %}
